html,
body,
#root {
  width: 100%;
  height: 100%;
}

.app {
  width: 100%;
  height: 90%;
  position: absolute;
  bottom: 0px;
}

.year {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 70%;
  height: 50%;
  margin-left: auto;
  margin-right: auto;
}

.month {
  margin: 5px 5px 15px 5px;
}

.month-name {
  color: #df0909;
  font-weight: bold;
}

.day {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
}

.date {
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50px;
  border: none;
  outline: none;
}

.date.in-month:hover {
  cursor: pointer;
  border-color: red;
  border-style: solid;
  border-width: medium;
}

.today {
  border-color: red;
  border-style: solid;
  border-width: medium;
}

.date.prev-month,
.date.next-month {
  color: grey;
}
